.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}


    #ITS_CanvasX
    {
        border-width:10px;
        background-color: #ffffff; 
        border-style:ridge;
        border-color:#05fca2 ;
    }


